/* CONFIGURABLE VARIABLES */
@std: 8px;


/* UTILITY MIXINS */
.content { padding: 0 @std*3; }

.subvoc { font-style: italic; font-size: 0.9em; }


/* HTML ELEMENTS */
html {
  font-family: Arial;
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 1.5em;
  margin: @std*3 0;
}

p {
  margin: @std*3 0;
}

button {
  margin: @std*3 0;
  border: none;
  border-radius: @std;
  background-color: black;
  padding: @std*2 @std*3;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}
