.highlight-ribbon {
  margin: @unit*3 0;

  width: 100%;
  border-top: 2px @color-base solid;
  border-bottom: 2px @color-base solid;
  background-color: @color-pale;
  padding: @unit;

  @media screen and (min-width: @mobile-limit) {
    margin: @unit*5 0;
    padding: @unit*2;
  }
}
