@import "../vars/np-palette.import.less";
@import "../vars/scale.import.less";

.highlight-ribbon {
  margin: @unit*3 0;

  width: 100%;
  border-top: 2px @color-base solid;
  border-bottom: 2px @color-base solid;
  background-color: @color-pale;
  background-image:
    linear-gradient(
      to right,
      @color-pale--shadow    0%,
      @color-pale            4%,
      @color-pale           96%,
      @color-pale--shadow  100%
    );
  padding: @unit;

  @media screen and (min-width: @mobile-limit) {
    margin: @unit*5 0;
    padding: @unit*2;
  }
}
