@import "vars/np-palette.import.less";

@import "modules/heading.import.less";
@import "modules/link--external.import.less";

@import "np-structure.import.less";

/* CSS RULES */
.page-title {
  .heading;
  color: @color-base;
}

.action-primary {
  background-color: @color-base;

  &:hover {
    background-color: @color-dark;
  }
}

.reference {
  .link--external;
}
