@import "vars/scale.import.less";

/* UTILITY MIXINS */
.subvoc { font-style: italic; font-size: 0.9em; }


/* HTML ELEMENTS */
p {
  margin: @unit*3 0;
}

button {
  margin: @unit*3 0;
  border: none;
  border-radius: @unit;
  background-color: black;
  padding: @unit*2 @unit*3;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}
